**/.terraform/*
*.iml
*.ipr
.idea/
*.iws
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.terraformrc
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crash.*.log
crash.log
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/
override.tf
override.tf.json
terraform.rc
